<div  class="
    grid grid-cols-1
    gap-y-10
    sm:grid-cols-2
    gap-x-6
    lg:grid-cols-3
    max-w-6xl
    mx-auto
  "
>
{%- for product in products -%}
  <a  key="{{ product.id }}"
          href="/{{ product.handle }}.html"
          class="group">
    <img
      src="{{ product.thumbnail }}"
      alt="{{ product.id }}"
      class="
        w-60
        h-60
        rounded-md
        border
        border-gray-500
        object-center object-cover
        group-hover:opacity-75
      "
    />
    <h3 class="text-gray-500">{{ product.title }}</h3>
  </a>
{%- endfor -%}
</div>